  <div class="jumbotron">
    <h1 class="alert alert-success">
        Bienvenido, {{nombre}}
            <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">
                Desloguear
            </button>
    </h1>
  </div>