<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos Faker.js</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.0.1/locales/es/faker.es.min.js"
      integrity="sha512-DQrc3eajLL0VuvozdljRiM0om8z0z87wupk/TMGnkXglulsENW0rtyDRGqPkplJxKr8QdI/jM2hKKowFir+5ug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-3">
      <div class="jumbotron">
        <div id="fakeProducts"></div>
      </div>
    </div>

    <script src="js/testFaker.js"></script>
  </body>
</html>
