<!DOCTYPE html>
<html lang="en">
  <head>
      {{> head}}
  </head>
  <body>
    <div class="container mt-3">
        {{> header-fb}}
        {{> form}}
        {{> chat}}
    </div>
    <script src="/js/deNormalizarMensajes.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>