<div class="container text-center mt-3">
    <div class="jumbotron" style="background-color: rgb(191, 226, 191);color: darkgreen;">
        <h2><i>Bienvenido, {{data.name}} </i></h2>
        <br>
        <img src="{{data.photo}}" width="100" alt=""/><br>
        <br>
        <br>
        <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">
            Logout
        </button>
    </div>
</div>