<div class="container text-center my-3">
  <div class="jumbotron" style="background-color: green;color: white;">
    <h2>Hasta luego {{nombre}}</h2>
  </div>
      <script>
        setTimeout(() => {
            location.href = '/'
        }, 2000)
    </script>
</div>